html{
    background-color: darkgray;
}
.titulo{
   

}
.menu{
   text-align: right;
    color:darkorchid;
    font-family:  Helvetica, sans-serif;
    font-size: large;
    
}
a{
    text-decoration:none;
    color:blueviolet;
    font-family: cursive;

}
