ul{
    list-style: none;
    width: 150px;
    margin: 0%;
    padding:0%;
    text-align: center;
    
}
li{
    border: 1px solid #555;
}
ul li{
    position: relative;

    
}
ul li a {
    display: block;
    text-decoration: none;
    color: black;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
 }
li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
    }
    li:hover ul { display: block; }
    a{
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
    background:darkgrey;
}
ul{
    border: 10px ridges blueviolet;
}
.rodape{
    text-align: center;
    
}
.nav{
    float: left ;
}