
#ads{
border-radius: 10%;   
text-align: center;
text-indent: 5%;
}
.menu{
   text-align: right;
    color:black;
    font-family:  Helvetica, sans-serif;
    font-size: large;
    
}
a{
    
    color:black;
    font-family: cursive;

}
.conteudo{
    text-align: center;
    background-color: darkgray;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-family: monospace;
}
#pg1{
    background-image: url("Imagens/quemsomos.jpg");
}
#pg2{
    background-image: url("Imagens/planodefundoUnes.jpg");
    text-align: center;
    font-size: xx-large ;
    color: white;
}
.rodape{
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#pg3{
    background-image: url(Imagens/fundo2.png);
}